.env
.venv/
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
.pytest_cache/
frontend/
tests/
mockup.html
*.md
alembic/
docker-compose.yml
Procfile
.vscode
.claude_cache/
.claude
tasks.csv
GEMINI.md
Agents
frontend\CLAUDE.md
frontend\AGENTS.md